body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {


}

.catalog-submenu {
  display: none;
}
