body {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.body-wrapper {
  width: auto;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.body-wrapper::before,
.body-wrapper::after {
  content: "";

  visibility: hidden;
}

.body-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.body-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
  /* padding-bottom: 40px; */
}

.catalog-container {
  margin-top: -17px;
}

/* кнопки */

.button {
  display:inline-block;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 24px;
  vertical-align: top;

  font: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);

  border: none;
  border-radius: 32px;
}

.button:hover,
.button:focus {
  background-image: none;
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.button:active {
  background-image: none;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

/* Навигация, хедер */

.header {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.main-navigation {
  display: flex;
  min-height: 64px;
}

.page-logo {
  width: 154px;
  height: 64px;
}

/* навигация по сайту */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;

  margin: 0;
  margin-top: 14px;
  padding: 0;

  list-style: none;
}

.site-navigation-link {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 14px;
  margin-right: 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: middle;
  color: #ffffff;

  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.site-navigation-catalog:hover .site-navigation-link {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 5px;

  color: #323232;

  background-color: #f7f6f3;
  border-bottom: none;
  border-radius: 16px;
}

.site-navigation-current .site-navigation-link {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 5px;

  color: #ffffff;

  background-color: #d07058;
  border-bottom: none;
  border-radius: 16px;
}

.site-navigation-link:active {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 13px;

  background-color: #f8f7f4;

  border-bottom: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
  background-color: #ededed;
  border-radius: 16px;
}

/* навигация пользователя */

.user-navigation {
  display: flex;
  justify-content: flex-end;

  width: 282px;
  margin: 0;
  margin-top: 14px;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.search-link,
.login-link,
.basket-link {
  display: block;

  width: 33px;
  height: 33px;
  margin-left: 9px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: middle;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

/* поиск */

.search a {
  position: relative;

  width: 33px;
  height: 33px;
  margin-bottom: 4px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search a:hover,
.search a:focus {
  background-image: url("../img/search-hover.svg");
  background-color: #ffffff;
}

/* Вход */

.login-link {
  position: relative;

  line-height: 2.5;

  padding-left: 44px;
  padding-right: 16px;
  margin-bottom: 4px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 17px;
}

.login-link:hover,
.login-link:focus {
  color: #323232;

  background-image: url("../img/login-hover.svg");
  background-color: #ffffff;
}

/* корзина */

.basket a {
  position: relative;

  line-height: 2.5;

  width: 117px;
  padding-left: 45px;
  margin-bottom: 4px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 17px;

  box-sizing: border-box;
}

.basket a:hover,
.basket a:focus {
  color: #323232;

  background-image: url("../img/basket-hover.svg");
  background-color: #ffffff;
}

.empty a {
  position: relative;
  width: 100px;
}

.full a {
  position: relative;
  min-width: 100px;

  font-weight: 500;

  background-image: url("../img/basket-full.svg");
}

.full a:hover,
.full a:focus {
  color: #323232;

  font-weight: 500;

  background-image: url("../img/basket-full.svg");
  background-color: #ffffff;
}

/* mеню каталога */

.site-navigation-catalog {
  position: relative;
  min-height: 40px;
  margin-left: 10px;
}

.catalog-submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  min-width: 143px;

  border-radius: 5px;
  background-color: #f8f7f4;

  list-style: none;
  z-index: 1;
}

.site-navigation-catalog:hover .catalog-submenu,
.site-navigation-catalog:focus .catalog-submenu {
  display: block;
}

.catalog-submenu a {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.catalog-submenu-item:first-child a {
  padding-top: 13px;
  padding-bottom: 14px;
  font-weight: 700;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.catalog-submenu-item:last-child a {
  padding-bottom: 14px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.catalog-submenu a:hover,
.catalog-submenu a:focus {
  background-color: #fbded7;
}

.catalog-submenu a:active {
  background-color: #f6b5a5;
}

.catalog-submenu-item-current a {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-submenu-item-current a:hover,
.catalog-submenu-item-current a:focus,
.catalog-submenu-item-current a:active {
  cursor: default;

  color: #ffffff;

  background-color: #d07058;
}

/* контакты */

.header-contacts {
  display: block;
  align-self: flex-end;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.header-contacts span {
  display: block;
  margin-top: 4px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
}

/* Слайдер */

.slider {
  position: relative;

  padding-top: 276px;
  padding-bottom: 42px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}


.slide {
  display: none;
}


.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .body-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .body-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .body-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}


#product-1:checked ~ .body-wrapper #slide1,
#product-2:checked ~ .body-wrapper #slide2,
#product-3:checked ~ .body-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .body-wrapper label[for="product-1"],
#product-2:checked ~ .body-wrapper label[for="product-2"],
#product-3:checked ~ .body-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* Подарки */

.presents {
  font-weight: 700;
}

.half-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.present {
  position: relative;
  width: 560px;
  min-height: 229px;
  box-sizing: border-box;

  border-radius: 15px;
}

.present-title {
  padding: 0;
  margin: 0;
  margin-left:19px;
  margin-top: 17px;

  font-size: 35px;
  line-height: 41px;
}

.present p {
  width: 513px;
  margin: 0;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
}

.present-button {
  position: absolute;
  right: 21px;
  bottom: 23px;

  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  background-image: linear-gradient(to top, #ca3824, #f26843);
}

.present-button:hover,
.present-button:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.present-button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.berry {
  background-color: #5e0f1f;
  background-image: url("../img/bg-berry.jpg");
  background-repeat: no-repeat;
}

.chokolate {
  background-color: #3e2519;
  background-image: url("../img/bg-chokolate.jpg");
  background-repeat: no-repeat;
}

/* Хиты */

.hits {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 1146px;

  margin: 0 auto;
  padding: 0;
}

.hit {
  margin-right: 22px;
  margin-bottom: 38px;
}

.hit:nth-child(4n+1) {
  margin-right: 0;
}

.hit::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

/* особености */

.info {
  margin-bottom: 40px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 23px;

  color: #323232;

  background-color: #ede0c4;
  background-image: url("../img/bg-waffle.jpg");
  background-repeat: repeat;
  border-radius: 16px;
}

.info-title {
  margin: 0;
  /* padding-top: 29px; */

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  /* letter-spacing: 0.3em; */
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-item {
  position: relative;
  width: 477px;
  padding-left: 58px;
  padding-top: 22px;
  margin-right: -7px;
  line-height: 22px;
}

.icecream {
  background-image: url("../img/icecream.svg");
  background-repeat: no-repeat;
  background-position: 0px 8px;
}

.cow {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0px 8px;
}

.leaf {
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0px 8px;
}

.termometer {
  background-image: url("../img/termometer.svg");
  background-repeat: no-repeat;
  background-position: 0px 8px;
}

/* статьи */

.news-subscription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news {
  width: 560px;
  min-height: 220px;
  padding-left: 19px;
  padding-right: 20px;
  box-sizing: border-box;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news h3 {
  margin: 0;
  padding: 0;
  padding-top: 23px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-block-recipes {
  width: 283px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

.news-block-recipes a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.news-block-recipes a:hover,
.news-block-recipes a:focus,
.news-block-recipes a:active {
  color: #e84d37;
}

/* подписка */

.subscription {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;

  background-image: url("../img/bg-subscription.png");
  background-repeat: repeat;
  border-radius: 15px;
}

.subscription-wrapper {
  position: relative;
  min-height: 210px;
  box-sizing: border-box;
  padding-left: 21px;
  padding-right: 22px;
  padding-bottom: 30px;

  background-color: #f8f7f4;
  border-radius: 15px;
  margin: 5px;
}

.subscription p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 30px;
  line-height: 22px;

  color: #5a5a5a;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subscription input {
  display: inline-block;

  padding-left: 15px;
  width: 368px;
  height: 44px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #8996a6;
  border-radius: 5px;
}

.subscription-button {
  padding-left: 18px;
  padding-right: 18px;
}

/* Футер */

.footer {
  display: flex;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 25px;
}

/* социальные кнопки */

.footer-social {
  width: 196px;
  margin-top: 15px;
  margin-right: 225px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 186px;
  margin: 0;
  padding: 0;

  list-style: none;
}


.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active {
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.7);
}



.twetter {
  background-image: url("../img/twetter.svg");
  background-repeat: no-repeat;
  background-position: -1px;
}

.insta {
  background-image: url("../img/insta.svg");
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
}

.VK {
  background-image: url("../img/VK.svg");
  background-repeat: no-repeat;
}



/* информация для клиентов */

.footer-links {
  width: 269px;
  margin-top: 7px;
  column-count: 2;
}

.footer-links-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 305px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-links-item {
  min-width: 162px;
}

.footer-links a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

.heart {
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

/* создатели */

.footer-copyright {
  display: flex;
  flex-direction: column;

  width: 189px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  font-size: 12px;
  line-height: 18px;

  color: #fefefe;
}

.footer-copyright-text {
  margin: 0;
}

.footer-copyright-text a {
  color: #ffffff;

  cursor: pointer;
  text-decoration: underline;
}

.footer-copyright-text a:hover,
.footer-copyright-text a:focus,
.footer-copyright-text a:active {
  color: #ffbc9e;
}


/* всплываеющее окно входа */

/* форма поиска */

.search-form {
  display: none;
  position: absolute;
  right: 244px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.search-field {
  height: 44px;
  width: 311px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 24px;

  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.search-label {
  position: relative;

  display: flex;
  flex-basis: 100%;
}

.search-field:hover {
  border-color: 2px solid rgba(154, 154, 154, 0.52)
}

.search-field:focus {
   border-color: 2px solid rgba(46, 136, 228, 0.52)
}

/* форма входа */

.login-form {
  display: none;
  position: absolute;
  right: 140px;

  width: 277px;
  min-height: 214px;

  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 1;
}

.login-form-field {
  margin-top: 20px;
}

.password-form-field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-icon-user {
  width: 224px;
  min-height: 44px;
  padding-left: 15px;
  margin-left: 19px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
  outline: none;
}

.login-icon-password {
  width: 224px;
  min-height: 44px;
  padding-left: 15px;
  margin-left: 19px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
  outline: none;
}

.login-password-info-container {
  display: inline-block;

  height: 44px;
  margin: 0;
  margin-left: 140px;
  margin-bottom: 22px;
}


.login-password-info {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.login-password-info:hover,
.logim-password-info:focus,
.logim-password-info:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(232, 77, 55, 0.5);
}

.login-button {
  position: absolute;

  width: 100px;
  height: 44px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 19px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

/* форма корзины */

.basket-table {
  display: none;
  position: absolute;
}

/* СТРАНИЦА КАТАЛОГА */

/* хлебные крошки */


.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs li {
  margin-right: 7px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.breadcrumbs-item-current {
  list-style: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.5  );
}

/* заголовок на странице каталога */

.catalog-title {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 29px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

/* каталог на странице каталога */

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1146px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 83px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 1146px;

  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-bottom: 38px;

  box-sizing: border-box;

  list-style: none;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  content: "";

  position: absolute;
  display: block;
  left: -13px;
  top: -10px;
  z-index: 1;
  width: 293px;
  min-height: 405px;

  background-color: rgba(247, 248, 244, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.catalog-item:hover .item-button,
.catalog-item:focus .item-button {
  position: absolute;
  display: block;
  bottom: -55px;
  z-index: 1;
}

.item-button {
  display: none;
  position: absolute;

  left: 33px;
  bottom: 22px;
  padding-left: 17px;
  padding-right: 17px;
}

.catalog-item img {
  cursor: pointer;
  border-radius: 50%;
  order: 1;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
  margin-top: 9px;
  width: 266px;
  order: 0;

  text-align: center;
}

.fix1 {
  width: 260px;
  margin-left: 4px;
}

.fix2 {
  width: 247px;
  margin-left: 11px;
}

.fix3 {
  width: 230px;
}

.catalog-item-title a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.catalog-item-title a:hover,
.catalog-item-title a:focus,
.catalog-item-title a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

.catalog-item-price {
  position: absolute;
  left: -2px;
  bottom: 65px;
  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price span {
  position: relative;
  margin-left: 4px;
  font-size: 30px;
}

/* модальные окна */


.modal-feedback {
  display: none;
  position: absolute;

  width: 478px;
  height: 443px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.feedback-form {
  margin-left: 24px;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 16px;

  color: #323232;
}

.user-name {
  height: 44px;
  width: 252px;
  padding-left: 15px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  background-color: #ffffff;

  outline: none;
}

.user-email {
  height: 44px;
  width: 252px;
  padding-left: 15px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  background-color: #ffffff;

  outline: none;
}

.textarea {
  height: 140px;
  width: 398px;
  padding-left: 15px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 0;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback-button {
  position: absolute;
  left: 312px;

  width: 139px;
  height: 44px;
}

.close{
  position: absolute;
  top: 17px;
  right: 18px;
  width: 18px;
  height: 17px;
  cursor: pointer;

  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
}
